@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  background-color: #f0f8f5;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #c2f2e4;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #35c8b4;
}
